src/main/resources/movie1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cinema">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="movies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="movie">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nameF" type="xs:string" />
                                        <xs:element name="year" type="xs:unsignedShort" />
                                        <xs:element name="category-ref">
                                            <xs:complexType>
                                                <xs:attribute name="ref" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="actor-ref">
                                            <xs:complexType>
                                                <xs:attribute name="ref1" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ID" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="actors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="actor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="firstname" type="xs:string" />
                                        <xs:element name="lastname" type="xs:string" />
                                        <xs:element name="age" type="xs:unsignedByte" />
                                    </xs:sequence>
                                    <xs:attribute name="ID" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="categories">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="category">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nameC" type="xs:string" />
                                        <xs:element name="ageRec" type="xs:unsignedByte" />
                                    </xs:sequence>
                                    <xs:attribute name="ID" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>